PORT=5555
HOST=127.0.0.1
# Create 🤗 token with the read permission
# https://huggingface.co/settings/tokens/new?tokenType=read
HUGGINGFACE_API_KEY=
MONGODB_URI=mongodb://root:password@localhost:27017/Ara?authSource=admin